<mat-form-field ngClass="mat-primary">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="..." #input />
</mat-form-field>

<div ngClass="mat-elevation-z8">
  <table mat-table class="mat-background-accent" [dataSource]="dataSource" matSort>
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="stories">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>stories</th>
      <td mat-cell *matCellDef="let row">{{ row.stories.items.length }}</td>
    </ng-container>

    <ng-container matColumnDef="series">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>series</th>
      <td mat-cell *matCellDef="let row">{{ row.series.items.length }}</td>
    </ng-container>

    <ng-container matColumnDef="favorites">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td *matCellDef="let row" class="td_add" mat-cell >
          <mat-icon *ngIf="isFavorite(row)" ngClass="red" (click)="removed(row)">favorite</mat-icon>
          <mat-icon *ngIf="!isFavorite(row)" (click)="favorite(row)">favorite</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
    ngClass="paginator mat-primary"
  ></mat-paginator>
</div>
