<mat-toolbar ngClass="mat-primary">
    <button routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon >home</mat-icon>
    </button>
    <a class="nav_a" routerLink="/characters">character</a>
    <a class="nav_a" routerLink="/comics">comics</a>
    <span class="example-spacer"></span>
    <button (click)="openDialog()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon >favorite</mat-icon>
    </button>
</mat-toolbar>