<div class="characters-container" *ngIf="marvelService.data">
  <ul class="character-list" *ngFor="let char of marvelService.data">
    <li class="character-item">
      <strong class="character-name">Name:</strong> {{ char.name }}
    </li>
    <li class="character-item">
      <strong class="character-description">Description:</strong> {{ char.description }}
    </li>
    <li class="character-item">
      <strong class="character-comics">Comics:</strong>
      <ul class="comic-list">
        <li class="comic-item" *ngFor="let comic of char.comics?.items">
          {{ comic.name }}
        </li>
      </ul>
    </li>
  </ul>
</div>
