.characters-container {
  margin: 20px;
  width: 90%;
  color: white;
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.character-list {
    border-radius: 20px;
  background-color: rgb(16, 18, 95);
  list-style-type: none;
  padding: 20px;
  margin: 20px;
  text-align: justify;
}

.character-item {
  margin-bottom: 10px;
}

.character-name {
  font-weight: bold;
}

.character-description {
  font-style: italic;
}

.character-comics {
  font-weight: bold;
  margin-bottom: 5px;
}

.comic-list {
  list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
}

.comic-item {
  margin-top: 20px;
  margin-bottom: 20px;
}
